# 数据预处理

目标：读取csv文件，做预处理，变成tensor数据

创建一个人工数据集，并存储在csv文件中

In [4]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f: # with open() as 块结束时自动关闭文件
    f.write('NumRoom, Alley, Price\n') # 列名
    f.write('NA, Pave, 127500\n') # 每行表示一个数据样本
    f.write('2, NA, 106000\n')
    f.write('4, NA, 128877\n')
    f.write('NA, NA, 177777\n')

从创建的csv文件中加载原始数据集

In [5]:
import pandas as pd

data = pd.read_csv(data_file) # 一般用pandas读取csv文件
data

# NA

   NumRoom  Alley   Price
0      NaN   Pave  127500
1      2.0     NA  106000
2      4.0     NA  128877
3      NaN     NA  177777

为了处理缺失的数据，典型的方法包括插值&删除。这里考虑用插值

In [7]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2] #数据拆分
# 对数值类型的 用均值补上
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRoom  Alley
0      3.0   Pave
1      2.0     NA
2      4.0     NA
3      3.0     NA

In [8]:
# 非数值类型
# 对于inputs中的类别值或离散值，我们将NaN视为一个类别
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRoom   Alley_ NA   Alley_ Pave   Alley_nan
0      3.0           0             1           0
1      2.0           1             0           0
2      4.0           1             0           0
3      3.0           1             0           0

上述步骤完成：缺失的数字&字符串 -> 数字，因此可以变成pytorch的tensor

In [54]:
import torch

x, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
x, y

(tensor([[3., 0., 1., 0.],
         [2., 1., 0., 0.],
         [4., 1., 0., 0.],
         [3., 1., 0., 0.]], dtype=torch.float64),
 tensor([127500, 106000, 128877, 177777]))